# General system/editor files
*.zip
*.tmp
*.lck

# Copilot chat sessions
.github-copilot/iu/chat-sessions/

# Local tool configurations
.configstore/
.glab-cli/
.grit/

# Fish shell temporary files
fish/fishd.tmp.*
fish/conf.d/grit.env.fish

# Local override files
op/plugins/
op/plugins.sh

# Node.js/npm artifacts
simple-update-notifier/

# Application-specific caches
# github-copilot/ai/
# github-copilot/apps.json
# github-copilot/versions.json

# Node modules
node_modules/

# fichiers sensibles
**/configstore/
**/github-copilot/
**/glab-cli/
**/grit/
**/op/
**/fish/fish_variables
**/fish/fishd.tmp.*
# **/iterm2/
**/nvim.zip
**/plugin/packer_compiled.lua
**/lazy-lock.json
**/lazyvim.json

# Fichiers système
.DS_Store
*.swp
*.swo
*.log

# Neovim
/lazy-lock.json
/lazyvim.json
/plugin/

# Configurations sensibles
**/github-copilot/
**/glab-cli/
**/op/

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

fish/fish_variables

# Environment files
.env

# Temporary files
*~

# IDE-specific files
.idea/
.vscode/

# Compiled files
*.o
*.out
*.class

# Backup files
*~

# Fish shell configurations
~/.config/fish/conf.d/fnm.fish

# Ignore GitHub Copilot files
# github-copilot/
# Ignore iTerm2 files
# iterm2/
1Password/ssh/agent.toml
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/addPlayingSongToPlaylist.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/addPlayingSongToPlaylist.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/back15.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/back15.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/copyArtistAndTitle.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/copyArtistAndTitle.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/copyEmbed.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/copyEmbed.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/copyUrl.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/copyUrl.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/current-track.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/current-track.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/cycleRepeat.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/cycleRepeat.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/devices.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/devices.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/dislike.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/dislike.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/generatePlaylist.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/generatePlaylist.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/justPlay.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/justPlay.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/like.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/like.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/next.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/next.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/nowPlaying.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/nowPlaying.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/nowPlayingMenuBar.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/nowPlayingMenuBar.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/package.json
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/previous.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/previous.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/queue.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/queue.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/removeSongFromPlaylist.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/removeSongFromPlaylist.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/replay.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/replay.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/search.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/search.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/skip15.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/skip15.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/startDJ.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/startDJ.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/startRadio.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/startRadio.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/togglePlayPause.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/togglePlayPause.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/toggleShuffle.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/toggleShuffle.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume0.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume0.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume25.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume25.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume50.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume50.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume75.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume75.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume100.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volume100.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volumeDown.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volumeDown.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volumeUp.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/volumeUp.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/yourLibrary.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/yourLibrary.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/assets/extension-icon.png
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/assets/menu-icon-dark.svg
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/assets/menu-icon-light.svg
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/assets/play-pause-16.svg
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/assets/spotify-icon.svg
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/add-track-to-playlist.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/add-track-to-playlist.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/create-playlist.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/create-playlist.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/get-current-track.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/get-current-track.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/get-current-user.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/get-current-user.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/play.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/play.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/queue.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/queue.js.map
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/search.js
raycast/extensions/320f40ef-a633-415a-ab0e-1e99515478f7/tools/search.js.map
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/color-names.js
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/color-names.js.map
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/color-wheel.js
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/color-wheel.js.map
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/convert-color.js
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/convert-color.js.map
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/extract-color.js
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/extract-color.js.map
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/generate-colors.js
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/generate-colors.js.map
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/menu-bar.js
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/menu-bar.js.map
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/organize-colors.js
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/organize-colors.js.map
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/package.json
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/pick-color.js
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/pick-color.js.map
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/assets/icon.png
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/assets/rgb-color-wheel.webp
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/assets/compiled_raycast_swift/color-picker
raycast/extensions/40ebc708-964f-473b-8d19-d4e9cbd27ae9/assets/compiled_raycast_swift/extract-color
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/index.js
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/index.js.map
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/package.json
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/assets/cpu.svg
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/assets/icon.png
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/assets/memorychip.svg
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/tools/kill-process.js
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/tools/kill-process.js.map
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/tools/list-processes.js
raycast/extensions/c0c9423a-7014-481e-8bb9-44c4c6df53be/tools/list-processes.js.map
karabiner/karabiner.json
karabiner/automatic_backups/karabiner_20250410.json
karabiner/automatic_backups/karabiner_20250412.json
karabiner/automatic_backups/karabiner_20250413.json
git/allowed_signers
