[submodule "dotfiles-public"]
	path = dotfiles-public
	url = https://github.com/craftzdog/dotfiles-public.git
[submodule "alacritty-theme"]
	path = alacritty-theme
	url = https://github.com/thejokers69/alacritty-theme.git
